# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl: /
url: https://xiaokuicui.github.io/
date_format: "ordinal"
title: 持续更新中....
subtitle: "打码改变人生"
description: "马壮的个人博客"
keywords: 码志, Zhuang Ma, mzlogin, mazhuang
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: xiao kui
github_username: xiaokuicui
location: Beijing, China
email: xiaokui.cui@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: xiaokuicui.github.io

#Comments
comments_provider: gitalk
gitalk:
    owner: xiaookuicui
    repo: xiaokuicui.github.io
    clientID: 3d33d1c88f2b0bc7d080
    clientSecret: 6f6b8478618b082705232f036b0d5d9d64e288ea



#Google Analytics
google:
    analytics_id: UA-111867840-1
